<!DOCTYPE html>
<html>
    <head>
        <title>Bowling alley views!!</title>
    </head>
    <body>
        <h1>Buster's Best Bowling Alley</h1>
        <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs. And I am describing a bowling alley!</p>

        <h2>Bet You Can't Bowl A Strike Every Time</h2>
        <p>We are a negitive org and don't believe in you!</p>
        <p>97 Bowling Alley Lane, Boulder CO </p>


    </body>
</html>
